<p id="notice"><%= notice %></p>

<p>
  <strong>Cover letter:</strong>
  <%= @load.cover_letter %>
</p>

<p>
  <strong>Title:</strong>
  <%= @load.title %>
</p>

<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'Back', loads_path %>
